[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
jupytext = "*"
pandas = "*"
matplotlib = "*"
openpyxl = "*"
pillow = "*"
scikit-learn = "*"
networkx = "*"
pulp = "*"
ortoolpy = "*"
opencv-python = "*"
cmake = "*"

[dev-packages]

[requires]
python_version = "3.10"
